body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b1220;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #111a2e;
}

.logo {
  color: #00ff99;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero button {
  padding: 12px 25px;
  background: #00ff99;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}

.box {
  background: #111a2e;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}

.dashboard {
  text-align: center;
  padding: 40px;
}

.card {
  background: #111a2e;
  margin: 10px auto;
  padding: 15px;
  width: 250px;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #111a2e;
}
